a {
    text-decoration: none;
}

.card {
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 4px 4px 10px 2px var(--bs-gray-400);
}

.card:hover {
    box-shadow: 4px 4px 10px var(--bs-gray-500);
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}